
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



/* Code for iPhone */
textarea,
input,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="password"],
input[type="search"],
input[type="number"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

::-webkit-scrollbar {
display: none;
}

body {
   -webkit-tap-highlight-color: transparent;
}


button{
  background-color: white;
}





/* Code For Others */

body{
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1.42857143;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border: 0px;
}

a{
  text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}





/* Home Page */
#main_container{
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px auto;
}



#header_section_sticky{
  background-color: #f5f5f5;
  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}





/* Header Design */
#header{
  box-sizing: border-box;
  padding: 4px;
  background-color: #5f5f5f;
  color: white;
}

#header a{
  display: inline-block;
  box-sizing: border-box;
  padding: 4px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#left_side_header a{
  border-radius: 9px;
  padding: 4px 10px;
  font-weight: bold;
  text-shadow: 0px 1px #000000;
  background-color: #f75c52;
}

#right_side_header a:hover, #left_side_header a:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #ff493d;
}

#right_side_header a{
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  background-color: #f75c52;
  text-shadow: 0px 1px #000000;
  font-weight: bold;
}

.borderleft{
  border-left: 2px dotted yellow;
}



#header div{
  width: 50%;
  float: left;
}







/* Website Information */
#website_information{
  text-align: center;
}

#right_website_information{
  width: 45%;
  float: left;
}

#right_website_information:first-child{
  margin-top: 60px;
}


#left_website_information{
  text-align: left;
  width: 55%;
  float: left;
}

#left_website_information img{
  display: inline;
  width: 300px;
}

#left_website_information div{
  text-align: center;
  display: inline;
  float: left;
}

#left_website_information div:last-child{
  font-size: 16px;
  padding: 20px;
  margin-top: 30px;
  color:#363636;
  min-width: 200px;
  width: 100%;
  max-width: 400px;
}

#left_website_information button{
  margin-top: 5px;
  border: none;
  padding: 4px 10px;
  font-size: 16px;
  outline: none;
  background-color: #e1fc30;
  border: 1px solid #a9d90b;
  color: #e80000;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}


#left_website_information button:hover{
  color: #b51212;
  border-color: #8db800;
}

















/* First Section Design */
#first_section{
  background-position: left;
  /* background-image: url("18.jpg"); */
  /*background-color: #32314d;*/
  background-color: rgb(23, 49, 67);
}


#left_first_section, #right_first_section, #third_first_section{
  height: 85px;
}


#left_first_section{

  /*background-color: #32314d;*/
  width: 30%;
  float: left;
  color: white;
  /*margin-top: 4px;*/
  /*color: rgb(33, 61, 111);*/
  text-shadow: 1px 1px black;
  /*font-weight: 800;*/
  text-align: center;
}

#left_first_section h3{
  margin: 0px;
  padding: 0px;
}

#left_first_section img{
  max-width: 300px;
  /*width: 100%;*/
  padding: 6px;
  margin-top: 6px;
}

#name_of_company{
  padding: 0;
  margin: 0;
  font-size: 30px;

  display: inline;
}


#right_first_section{
  color: white;
  /*text-shadow: 1px 1px black;*/
  text-align: center;
  width: 60%;
  float: left;
}





#right_first_section a{
  text-decoration: none;
}




#my_hidden_search_box{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding: 0px;
  margin: 0px auto;
  border: 2px solid #e6e6e6;
  text-align: left;
  border-radius: 2px;
  color: #f0f0f0;
  padding: 8px;
  padding-left: 20px;
  width: 80%;
  font-size: 18px;
  margin-top: 20px;
  max-width: 600px;
}

#third_first_section{
  color: #e6e6e6;
  /*float: left;*/
  float: right;
  width: 10%;
}

#non_hidden_thirdp1, #non_hidden_thirdp2{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#non_hidden_thirdp1{
  margin-top: 15px;
  font-size: 20px;
}


#non_hidden_thirdp2{
  font-size: 16px;
}

#third_first_span, #third_second_span{
  cursor: pointer;
}


#third_first_span:hover, #third_second_span:hover{
  text-shadow: 0.12px 0.0px white;
  /*box-shadow: 0 12px 16px 0 rgba(255,255,255,0.50),0 17px 50px 0 rgba(0,0,0,0.19);*/

}

#third_second_span{
  color: orange;
}


#non_hidden_thirdp1, #non_hidden_thirdp2{
  display: block;
}

#non_hidden_thirdp3{
  display: none;
}

#non_hidden_thirdp3{
  box-sizing: border-box;
  text-align: center;
  padding: 12px;
  font-size: 30px;
  width: 100%;
  max-width: 66px;
}


#non_hidden_thirda{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


















/* Slider CSS */
/*
#owl-demo .item img{
  display: block;
  width: 300px;
  max-height: 300px;
  height: auto;
}*/








/* Top Menu Design */

#top_menu_container{
  background-color: white;
  margin-top: 2px;
  margin-bottom: 12px;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  box-sizing: border-box;
  padding: 0px 6px;
}

#top_menu_container span{
  display: block;
  text-align: center;
}


#top_menu_container a{
  box-sizing: border-box;
  padding: 6px 0px;
  font: Helvetica,'Droid Sans',Arial;
  cursor: pointer;
  color: #545454;
  font-size: 16px;
  width: 13%;
  display: inline-block;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#top_menu_container a:hover{
  /*font-weight: 550;*/
  background-color: rgba(23, 49, 67, 0.14);
  color: #2e2e2e;
}









/* Search And Menu */
#search_and_menu{
  z-index: 100;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  padding: 4px;
  background-color: #5f5f5f;
}

#search_and_menu a{
  color: black;
}

#left_search_and_menu{
  width: 40%;
  float: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


#right_search_and_menu{
  width: 60%;
  float: left;
}


#search_box{
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid white;
}

#search_box i{
  width: 30px;
  padding: 6px;
}

#left_search_and_menu:hover{
  color: black;
}


/* Nagivation Menu */

#nagivationMenu {
  margin: auto;
  /*border-bottom: 1px solid firebrick;*/
}

#nagivationMenu a{
  font-size: 13px;
   background-color: rgba(0, 0, 0, 1);
   padding-top: 0px;
   padding-bottom: 0px;
   color: white;
   width: 33.33%;
   float: left;
   text-decoration: none;
   color: black;
}

#nagivationMenu a:hover{
   background-color: rgba(90, 90, 90, 1);
}

#nagivationMenu span{
   color: white;
   font-weight: bold;
}

#nagivationMenu i{
   padding-top: 2px;
   color: white;
   font-size: 19px;
}




































/* Category Design */
#category_selector{
  text-align: center;
}


/*
#category_selector h2{
  color: #17007d;
  font-family: Arial, Helvetica, sans-serif;
} */

#category_selector h2{
  margin-top: 10px;
  background-color: #e0e0e0;

  font-family: Helvetica, sans-serif;
  color: #3b4147;
  font-size: 27.5px;
  padding: 10px 0px 10px 0px;
  box-shadow: 0 12px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


#category_selector img{
  width: 35px;
  margin-top: 7px;
  height: 35px;
}

#category_selector a{
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  width: 33.33%;
  float: left;
  text-align: left;
  color: #545454;
  text-decoration: none;
}



#category_selector p{
  width: 100%;
  content: "";
  clear: both;
  display: table;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #919191;
  border-radius: 6px;
  padding: 5px 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}


#category_selector span:first-child{
  display: inline-block;
  width: 10%;
  float: left;
}


#category_selector p:hover{
  background-color: #e8e8e8;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#category_selector span:last-child{
  display: inline-block;
  text-align: center;
  line-height: 53px;
  width: 80%;
  float: left;
}

























#footer{
  background-color: #242d30;
  color: white;
  box-sizing: border-box;
  padding: 4px;
}

#accept_text_container{
  width: 100%;
}

#we_accept_text{
  background-color: teal;
  padding: 4px;
  font-size: 16px;
  text-align: center;
}

#left_side_footer{
  float: left;
  width: 60%;
}

 #right_side_footer{
   float: left;
   width: 40%;
 }

#left_footer_left{
  width: 20%;
  float: left;
}

#left_footer_left img{
  float: right;
  padding: 4px;
}

#left_footer_right{
  box-sizing: border-box;
  width: 70%;
  float: left;
}

#left_footer_right p{
  padding: 4px;
  margin: 0px;
}

#right_side_footer h2{
  font-size: 26px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#right_side_footer img{
  width: 30px;
}

#right_side_footer h1{
  margin: 0px;
  font-size: 23px;
  padding: 0px;
  text-align: center;
}


/*
#right_side_footer{
  background-image: url("flyingkite.jpg");
}
*/















/* Last Footer */

#last_footer{
  /*background-color: #ededed;*/
  background-color: rgba(23, 49, 67, 0.73);
  /*color: #e6e6e6;*/
  background-color: #ededed;
  color: #414042;
}

#last_footer i{
  color: #282c3f;
}

#inside_last_footer{
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: right;
  font-size: 20px;
  padding-right: 10%;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
}

#inside_last_footer span{
  font-size: 33px;
  padding: 10px;
}

#inside_last_footer span:first-child{
  padding-left: 20px;
}


#four_div_in_footer{
  box-sizing: border-box;
  padding: 20px 5px;
  text-align: center;
}


#four_div_in_footer div{
  float: left;
}

#first_of_fourdiv{
  width: 37%;
}

#second_of_fourdiv, #third_of_fourdiv{
  width: 19%;
}

#fourth_of_fourdiv{
  width: 25%;
}





#first_of_fourdiv p{
  /*color: #282c3f;*/
  font-family: 'Roboto', sans-serif;
  padding: 10px 30px;
}

#first_of_fourdiv img{
  width: 210px;
}


#second_of_fourdiv, #third_of_fourdiv{
  box-sizing: border-box;
  text-align: left;
}

#second_of_fourdiv p, #third_of_fourdiv p{
  color: #282c3f;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 0px 10px 0px;
}

.visiblehelp, .hiddenhelp, #third_of_fourdiv a{
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 24px;
  font-size: 16px;
}

.hiddenhelp{
  display: none;
}



#fourth_of_fourdiv{
  color: #282c3f;
  font-size: 18px;
  text-align: left;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#fourth_of_fourdiv a{
  color: inherit;
  font-family: 'Roboto', sans-serif;
}


#fourth_of_fourdiv i{
  font-size: 22px;
}


#fourth_of_fourdiv span{
  /*color: white;*/
  color: #282c3f;
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
}


#phone_number_contact{
  padding-bottom: 10px;
}






/*
#last_footer{
  background-color: rgba(23, 49, 67, 0.73);
  color: #e6e6e6;
}

#last_footer i{
  color: #e6e6e6;
}

#second_of_fourdiv p, #third_of_fourdiv p{
  color: #e6e6e6;
}


#fourth_of_fourdiv{
  color: #e6e6e6;
}*/











/* All Products Design */





#every_product_category{
  background-color: white;

}

#every_product_category h2{
  font-family: 'Roboto', sans-serif;
}


#all_products_container h2{
  color: black;
  font-size: 24px;
  font-weight: normal;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  /* color: #17007d;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px dotted red;
  border-top: 3px dotted red; */

}


#all_products_container{
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

#nagivator_on_products{
  margin-top: 20px;
  text-align: left;
  padding: 10px;
  padding-left: 30px;
  font-size: 15px;
}


.single_product{
  padding-bottom: 10px;
  width: 20%;
  float: left;
  height: 225px;
}

.single_product img{
  width: 100px;
  height: 100px;
}

.add_to_cart_btn_class button{
  background-color: #f5f5f5;
  box-sizing: border-box;
 border: 2px solid #4174a3;
 padding: 8px;
 width: 90%;
 color: #2b2b2b;
 font-size: 13.5px;
 outline: none;
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
 cursor: pointer;
}

.add_to_cart_btn_class button:hover{
  background-color: #4174a3;
  color: white;
}


.single_product p{
  color: #2b2b2b;
  margin: 0px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
}

p.price_tag {
    height: 30px;
}



.single_product i{
  font-size: 19px;
}

#view_more_btn{
  outline: none;
  border: 2px solid #4a4a4a;
  box-sizing: border-box;
  margin: 20px 0px 70px 0px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  transition-duration: 0.4s;
  background-color: #4a4a4a;
  color: white;
  cursor: pointer;
}

#view_more_btn:hover{
  background-color: #e6e6e6;
  color: black;
}
















/* Uppder Header Design */
#upper_header{
  background-color: #ededed;
  padding: 4px 0px;
}

#upper_header a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #414042;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}


#upper_header a:hover{
  border-bottom: 2px solid #242424;
}


#inside_upper_header{
  display: inline;
  float: right;
  padding-right: 4%;
}











/* Copyright Issue */
#copyright_issue{
  font-size: 16px;
  text-align: center;
  padding: 8px 0px;
}




/* We Accept Cards Section */

#we_accept_cards{
  padding: 20px;
  text-align: center;
  font-size: 15.5px;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
}

#we_accept_cards img{
  width: 50px;
}










/* Tablet Design */
#imagefor_smaller_device{
    margin: 20px auto;
    text-align: center;
    display: none;
}

#imagefor_smaller_device img{
  max-width: 300px;
  width: 100%;
}



/* Display None */

#menu_option_tablet{
  font-family: 'Roboto', sans-serif;
  margin-top: 22px;
  display: none;
}

#menu_option_tablet_small_device{
  font-family: 'Roboto', sans-serif;
  margin-top: 22px;
  display: none;
}








/* Tablet Login and Language */
#login_for_smaller_device{
  display: none;
  background-color: #ededed;
  font-size: 16px;
  box-sizing: border-box;
  padding: 6px;
  font-family: 'Roboto', sans-serif;
}

#login_for_smaller_device a{
  box-sizing: border-box;
  color: #414042;
  text-decoration: none;
  text-align: center;
  width: 30%;
  display: inline-block;
  border-right: 1px solid gray;
}

#login_for_smaller_device a:last-child{
  /*width: 24%;*/
  border: none;
}

#login_for_smaller_device span{
  color: #0d9dd6;
}








/* User Icon for Smaller Device */








/* Media Screen Reponsive */
@media only screen and (max-width: 1300px) {

  #right_website_information{
    width: 40%;
  }

  #right_website_information:first-child{
    margin-top: 60px;
  }


  #left_website_information{
    width: 60%;
  }

  #left_website_information img{
    width: 300px;
  }

}



/* Media Screen Reponsive */
@media only screen and (max-width: 1180px) {

  #right_website_information{
    width: 37%;
  }

  #right_website_information:first-child{
    margin-top: 45px;
  }

  #left_website_information{
    width: 63%;
  }

  #left_website_information img{
    width: 250px;
  }

  #left_website_information div:last-child {
    margin-top: 20px;
  }

  #left_website_information div:last-child {
    padding: 9px;
    margin-top: 25px;
    max-width: 300px;
  }



  #left_first_section{
    width: 30%;
  }


  #right_first_section{
    width: 55%;
  }


  #third_first_section{
    width: 15%;
  }

  #my_hidden_search_box{
    padding: 8px;
    padding-left: 20px;
    width: 80%;
    font-size: 18px;
    margin-top: 20px;
    max-width: 600px;
  }



  #left_first_section img{
    /*max-width: 300px;*/
    width: 100%;
    padding: 6px;
  }

}



@media only screen and (max-width: 950px) {

  #right_website_information{
    width: 40%;
  }

  #right_website_information:first-child{
    margin-top: 45px;
  }

  #left_website_information{
    width: 60%;
  }

  #left_website_information img{
    width: 250px;
  }

  #left_website_information div:last-child {
    margin-top: 20px;
  }

  #left_website_information div:last-child {
    padding: 9px;
    margin-top: 25px;
    max-width: 280px;
  }

  #left_first_section img{
    margin-top: 9px;
  }



}





/* Media Screen Reponsive */
@media only screen and (max-width: 900px) {






  #right_website_information{
    width: 100%;
  }

  #right_website_information:first-child{
    margin-top: 45px;
  }

  #left_website_information{
    width: 100%;
  }

  #left_website_information div{
    width: 50%;
  }

  #left_website_information div:last-child {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .single_product {
    width: 25%;
  }

  #category_selector a {
    font-size: 16px;
    width: 50%;
  }

  #left_side_footer{
    width: 70%;
  }

   #right_side_footer{
     width: 30%;
   }

   #left_footer_left {
    width: 30%;
  }

  #left_footer_right {
      width: 70%;
  }
}




@media only screen and (max-width: 780px) {




  #left_first_section{
    width: 20%;
  }


  #right_first_section{
    width: 60%;
  }


  #third_first_section{
    width: 20%;
  }


  #left_first_section img{
    display: none;
  }

  #imagefor_smaller_device{
    display: block;
  }

  #top_menu_container{
    display: none;
  }



  #menu_option_tablet{
    display: block;
  }

  #second_of_fourdiv, #third_of_fourdiv, #fourth_of_fourdiv{
    width: 33.33%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  #second_of_fourdiv{
    padding-left: 14px;
  }

  #first_of_fourdiv{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #adadad;
  }

}




@media only screen and (max-width: 700px) {
  .single_product {
    width: 33.33%;
  }


  #left_side_footer{
    width: 100%;
    padding-bottom: 4px;
  }

   #right_side_footer{
     border-top: 2px solid black;
     width: 100%;
     padding: 4px 0px;
   }

   #left_footer_left {
    text-align: center;
    width: 100%;
  }

  #left_footer_left img{
    float: none;
  }

  #left_footer_right {
      text-align: center;
      width: 100%;
  }

}




@media only screen and (max-width: 600px) {


  #login_for_smaller_device{
    /*display: block;        */
  }


  .hiddenhelp{
    display: block;
  }


  #left_first_section, #right_first_section, #third_first_section{
    height: 85px;
  }


  #final_header{
    display: none;
  }


  #second_of_fourdiv, #third_of_fourdiv{
    width: 50%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 13%;
  }



  #fourth_of_fourdiv{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding-top: 20px;
    border-top: 1px solid #adadad;
  }

  #first_of_fourdiv{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #adadad;
  }


  #category_selector a {
    width: 100%;
  }

}


@media only screen and (max-width: 570px) {
  .single_product {
    width: 50%;
  }


  #login_for_smaller_device{
    display: none;
  }





  #left_first_section, #right_first_section, #third_first_section{
    height: 65px;

  }

  #menu_option_tablet_small_device{
    margin-top: 11px;
  }

  #my_hidden_search_box {
    box-sizing: border-box;
    padding: 8px;
    padding-left: 20px;
    width: 90%;
    font-size: 18px;
    margin-top: 10px;
    max-width: 600px;
  }



  #right_website_information:first-child{
    margin-top: 45px;
  }


  #left_website_information img{
    width: 220px;
  }

  #left_website_information div:last-child {
    margin-top: 20px;
  }

  #left_website_information div:last-child {
    font-size: 14px;
    padding: 9px;
    margin-top: 20px;
    max-width: 240px;
  }

  #left_first_section img{
    margin-top: 4px;
  }



/*
  #first_section{
    background-position: center;
    background-image: url("19.jpg");
  }*/

/*
  #left_first_section {
    width: 100%
  }

  #right_first_section {
    width: 100%;
  }


  #left_search_and_menu {
    width: 100%;
    margin-bottom: 4px;
  }


  #right_search_and_menu {
    width: 100%;
  }*/

  #menu_option_tablet_small_device{
    display: block;
  }

  #menu_option_tablet{
    display: none;
  }



  #left_first_section img{
    display: none;
  }

  #imagefor_smaller_device{
    display: block;
  }

  #top_menu_container{
    display: none;
  }

  #final_header{
    display: none;
  }




  #left_first_section {
    width: 15%;
    max-width: 60px;
  }

  #right_first_section {
    width: 77%;
  }



  #third_first_section{
    width: 15%;
    max-width: 65px;
  }


  #non_hidden_thirdp1, #non_hidden_thirdp2{
    display: none;
  }

  #non_hidden_thirdp3{
    display: block;
  }







  #my_hidden_search_box {
    width: 100%;
  }



}


@media only screen and (max-width: 545px) {
  #right_first_section {
    width: 75%;
  }

  #third_first_section{
    width: 15%;
    max-width: 65px;
  }
}


@media only screen and (max-width: 500px) {
    #right_first_section {
      width: 73%;
    }

    #third_first_section{
      width: 15%;
      max-width: 65px;
    }
}



@media only screen and (max-width: 480px) {


  #right_website_information:first-child{
    margin-top: 0px;
    padding-top: 40px
  }
  #right_website_information{
    color: white;
  }


  #website_information{
    /*background-image:    url(flyingkite.png);*/
    background-image: url(images/undraw_through_the_park_lxnl.svg);
    background-size: auto 100%;
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
  }

  #website_information img {
    opacity: 0.5;
  }

  #left_website_information div:first-child{
    display: none;
  }


  #left_website_information img{
    width: 220px;
  }

  #left_website_information div{
    width: 100%;

  }

  #right_website_information h1{
    font-size: 1.8em;
  }

  #left_website_information div:last-child {
    font-size: 16px;
    margin-top: 20px;
  }

  #right_website_information, #left_website_information{
    background-image: url(backgroundopacity.png);
  }

  #left_website_information div:last-child {
    font-size: 14px;
    padding: 9px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    max-width: 500px;
    color: white;
    padding-bottom: 20px;
  }

  #left_first_section img{
    margin-top: 4px;
  }
}



@media only screen and (max-width: 463px) {
    #right_first_section {
      width: 71%;
    }

    #third_first_section{
      width: 15%;
      max-width: 65px;
    }
}


@media only screen and (max-width: 460px) {
  .single_product {
    width: 50%;
  }


  #right_first_section{
    height: auto;
    padding-bottom: 10px;
  }

  #right_first_section h2{
    margin: 0px;
  }

  #right_first_section h3{
    margin: 0px;
  }

  #header div {
    width: 100%;
  }

  #left_side_header {
    padding-bottom: 4px;
  }

  #left_side_header a{
    width: 100%;
  }



}


@media only screen and (max-width: 460px) {
  #we_accept_cards span:first-child{
    display: block;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 450px) {
  #second_of_fourdiv, #third_of_fourdiv{
    padding-left: 11.5%;
  }
}



@media only screen and (max-width: 430px) {

  #all_products_container h2{
    font-size: 21px;
  }
    #right_first_section {
      width: 70%;
    }

    #third_first_section{
      width: 15%;
      max-width: 65px;
    }
}

@media only screen and (max-width: 350px) {
  #inside_last_footer {
    padding: 10px 0px;
  }

  .visiblehelp, .hiddenhelp, #third_of_fourdiv a{
    font-size: 14px;
  }
}

/* Nagivation for Mobile & Tablet */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 70px;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  /*height: 100%;*/
}





#bosheboshe_small_screen_menu{
  width: 50%;
  min-width: 120px;
  max-width:300px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid #f1f1f1;
  z-index: 90;
}



#mobile_menu_design{
  top: 70px;
  width: 100%;
  z-index: 90;
  text-align: center;
}

#closebtnmobile{
  z-index: 999;
}


.overlay a {
  padding: 6px;
  z-index: 100;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 24px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 0px;
  right: 25px;
  }
}

































































/* Login and Registration Form */

#image_div_container{
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

#image_div_container img{
  max-width: 450px;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
}


#registration_btn, #login_btn {
  background: #3c72a3;
  outline: none;
  border: none;
  border-bottom: 2px solid #002a6e;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  color: white;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px #000000;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#registration_btn:hover, #login_btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #1c80d9;
}

#left_button_div{
  border-right: 2px solid #002a6e;
  text-align: right;
}

#right_button_div{
  text-align: left;
}

/*
#login_btn{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #1c80d9;
}*/




/* Final Container Design */
#final_containeer{
    box-sizing: border-box;
    padding: 4px;
    color: black;
    width: 70%;
    max-width: 700px;
    /*margin-bottom: 40px;*/
    margin: 0 auto;
}

#button_system div{
  margin-top: 15px;
  box-sizing: border-box;
  width: 50%;
  float: left;
}


#login_form{

}

#registration_form{

}

#final_containeer form{
  margin-top: 10px;
}

#final_containeer label{
  font-size: 18px;
}

#final_containeer input{
  box-sizing: border-box;
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#final_containeer input:focus{
  border-bottom: 2px solid red;
}


#final_containeer input[type=submit] {
  width: 100%;
  background-color: #3c72a3;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#final_containeer input[type=submit]:hover {
  background-color: #1c80d9;
}

.requiredasterisk{
  color: #b22222;
  font-size: 16px;
}




@media only screen and (max-width: 900px) {
  #final_containeer{
    width: 90%;
  }
}


@media only screen and (max-width: 460px) {

  #final_containeer{
    width: 98%;
  }

}







































/* Contact Us */
#main_help_contianer{
  background-color: #f2f2f5;
}
#help_center_container{
  margin: 0px auto;
  width: 100%;
  max-width: 700px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


#help_center_image{
  box-sizing: border-box;
  padding: 30px;
  max-width: 500px;
  width: 100%;
}

#contact_phone_email_container{
  box-sizing: border-box;
  padding: 30px 20px;
}

.contactemaildiv{
  text-align: center;
  float: left;
  width: 50%;
}


#contact_phone_email_container a{
  text-decoration: none;
  font-size: 18.5px;
  color: inherit;
}

#contact_phone_email_container hr{
  width: 90%;
}

#contact_phone_email_container i{
  font-size: 30px;
}

#contact_phone_email_container span{
  display: block;
  /*color: red;*/
}


.email_phone_spanheader{
  font-size: 26px;
  padding-bottom: 4px;
  color: #404040;
}

.email_phonespan{
  font-size: 20px;
  padding-top: 10px;
  color: #e6580b;
}

.email_phonespan:hover{
  text-shadow: 0px 0.20px gray;
}

.last_text_of_contact{
  font-size: 16px;
  color: #5c5c5c;
}

#leave_message_form{
  width: 75%;
  margin: 0 auto;
}


#send_us_messages form{
  margin-top: 10px;
}

#send_us_messages label{
  color: #3b3b3b;
  font-size: 15px;
  float: left;
}

#send_us_messages input{
  box-sizing: border-box;
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#send_us_messages input:focus, #fmessage:focus{
  border-bottom: 2px solid red;
}


#send_us_messages input[type=submit], #send_message_button {
  width: 100%;
  background-color: #3c72a3;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

#send_us_messages input[type=submit]:hover, #send_message_button:hover{
  background-color: #1c80d9;
}


#leave_message_form{
  margin-bottom: 60px;
}


#fmessage{
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 4px;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  resize: vertical;
}

/* Media Screen Reponsive */
@media only screen and (max-width: 600px) {
  #help_center_container h1{
    font-size: 24px;
  }
}



@media only screen and (max-width: 520px) {
  #help_center_container h1{
    font-size: 20px;
    padding: 10px 20px;
  }

  .contactemaildiv{
    width: 100%;
  }

  .contactemaildiv:last-child{
    margin-top: 20px;
  }


  #leave_message_form{
    width: 85%;
  }


  .email_phonespan{
    font-size: 18px;
  }


  .last_text_of_contact{
    font-size: 15px;
  }


  #contact_phone_email_container i{
    font-size: 26px;
  }


  .email_phone_spanheader{
    font-size: 20px;
    padding-bottom: 4px;
    color: #404040;
  }

}





/* Thank you for letting us know */
#user_sent_message_container{
  padding: 40px 0px;
  width: 80%;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

#user_sent_message_container img{
  max-width: 200px;
}

#message_query_number_p{
  text-align: left;
  display: inline-table;
}


#return_shopping{
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid gray;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  background-color: #3b3b3b;
  color: #f2f2f2;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  border-radius: 6px;
}

#return_shopping:hover{
  background-color: #262626;
  color: #fafafa;
}







































/* Track My Order Css */

#track_my_order_container{
  font-family: 'Roboto', sans-serif;
  width: 75%;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

#track_my_order_container h2{
  margin-top: 40px;
  text-align: center;
}

#track_my_order_container img{
  width: 100%;
  max-width: 250px;

}


#track_my_order_container form{
  font-family: 'Roboto', sans-serif;
  padding: 30px 0px;
}

#track_my_order_container label{
  color: #3b3b3b;
  font-size: 15px;
  float: left;
}

#inside_track_form{
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
}


#track_my_order_container input{
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  border: 2px solid #3c72a3;
  border-right: none;
  outline: none;
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 70%;
  display: block;
  float: left;
}

#track_my_order_container input:focus{
  border-color: #1c80d9;
}



#track_my_order_container input[type=submit]{
  box-sizing: border-box;
  width: 30%;
  background-color: #3c72a3;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  padding-left: 2%;
  border: none;
  /*border-radius: 4px;*/
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

}

#track_my_order_container input[type=submit]:hover, #send_message_button:hover{
  background-color: #1c80d9;
}


#return_shoppingtrackmyorder{
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom: 60px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid gray;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  background-color: #3b3b3b;
  color: #f2f2f2;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  border-radius: 6px;
}

#return_shoppingtrackmyorder:hover{
  background-color: #262626;
  color: #fafafa;
}



@media only screen and (max-width: 450px) {
  #track_my_order_container{
    width: 90%;
  }
}















































/* Privacy Policy Design */

#privacy_pocily_container{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

#privacy_pocily_container img{
  width: 100%;
  max-width: 270px;
  box-sizing: border-box;
  padding: 0px 30px;
}

#privacy_pocily_container h2{
  line-height: 60px;
}

#privacy_pocily_container p{
  display: inline-table;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  max-width: 800px;

}



@media only screen and (max-width: 450px) {
  #track_my_order_container{
    width: 90%;
  }
}












/* My Profile */

#customer_profile_container{
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
}

#customer_profile_container *{
  font-family: 'Roboto', sans-serif;
}





#log_out_container{
  /*max-width: 800px;*/
  margin: 0 auto;
  text-align: right;
  box-sizing: border-box;
  padding: 10px;
}

#log_out{
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin-right: 5%;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 900;
    border: 1px solid gray;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    background-color: #3b3b3b;
    color: #f2f2f2;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    border-radius: 6px;
}


#log_out:hover, #start_shopping_afterreg:hover{
  background-color: #262626;
  color: #fafafa;
}



#image_profile{
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
}



#myprofileh2, #odrderh2{
  padding: 12.5px;
  background-color: #757575;
  color: #ededed;
}

.profile_single_informarion{
  padding: 4px 10px 4px 10px;
  font-size: 15px;
  text-align: left;
  border-bottom: 1px solid #c2c2c2;
}

#inside_personal_information{
  margin-top: 20px;
  display: inline-table;
}

#edit_profile_btn{
  margin-top: 10px;
}


#edit_profile_btn{
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom: 40px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid gray;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  background-color: #185d8f;
  color: #f2f2f2;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  border-radius: 6px;
}

#edit_profile_btn:hover{
  background-color: #1069b3;
  color: #fffafa;
}






#member_order_tablediv{
  margin: 0px auto;
  width: 100%;
  max-width: 800px;
}



#order_status_table {
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#order_status_table td, #order_status_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#order_status_table tr:nth-child(even){background-color: #f2f2f2;}

#order_status_table tr:hover {background-color: #ddd;}

#order_status_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4c84af;
  color: white;
}


@media only screen and (max-width: 450px) {

  #order_status_table td, #order_status_table th {
    border: 1px solid #ddd;
    padding: 5px;
  }

  #order_status_table th {
    padding: 8px 8px;
  }
}


#profile_system_container{
  background: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

#profile_system_container img{
  max-width: 300px;
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
}



.same_button_log, .same_button_log{
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid gray;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  background-color: #3b3b3b;
  color: #f2f2f2;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  border-radius: 6px;
}

.same_button_log:hover, .same_button_log:hover{
  background-color: #262626;
  color: #fafafa;
}






















/* Real Search Box Design */
#my_real_search_box{
  display: block;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width: 80%;
  box-sizing: border-box;
  padding: 8px;
  margin-top: 21px;
  border: 2px solid #e6e6e6;
  text-align: left;
  border-radius: 3px 0px 0px 3px;
  border-right: none;
  float: left;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;

}

#my_real_search_box:focus{
  border: 2px solid orange;
}

#real_search_button{
  display: block;
  float: left;
  width: 20%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  float: left;

}


#real_search_button{
  background-color: white;
  outline: none;
  margin-top: 21px;
  border: none;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  /*border-left: none;*/
  border-radius: 0px 3px 3px 0px;
  padding: 6px;
  font-size: 21px;
  cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#real_search_button:hover{
  border-color: orange;
}




#search_image{
  width: 100%;
  max-width: 300px;
  margin-bottom: 70px;
}

#search_result_goes_here_conatiner{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}


#search_result_goes_here_conatiner h2{
  margin-top: 60px;
}


@media only screen and (max-width: 570px) {

  #my_real_search_box{
    margin-top: 12px;
  }

  #real_search_button{
    margin-top: 12px;
  }

}


@media only screen and (min-width: 1000px) {

  #my_real_search_box{
    width: 85%;
  }

  #real_search_button{
    width: 15%;
  }


}




























/* Registration Form Validation */
#registration_confirmation{
  text-align: center;
  background-color: white;
}


#registration_confirmation img{
  padding: 20px;
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
}


#registration_confirmation h2{
  color: #46316b;
  padding: 20px 0px;
}





#go_to_profile_afterreg, #start_shopping_afterreg{
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid gray;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  background-color: #3b3b3b;
  color: #f2f2f2;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  border-radius: 6px;
}

#go_to_profile_afterreg:hover, #start_shopping_afterreg:hover{
  background-color: #262626;
  color: #fafafa;
}
























/* Shopping Cart Design */

#cart_div_container{
  font-family: 'Roboto', sans-serif;
  width: 400px;
  position: fixed;
  bottom: 0px;
  right: 20%;
  background-color: #0f65d6;
  text-shadow: 1px 1px 5px black;
  color: white;
  z-index: 9000;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 10px 0px #575757;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#cart_div_container:hover{
  background-color: #0256c4;
  box-shadow: 0px 0px 10px 0px black;
}

#cart_div_container p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#left_side_of_cart{
  float: left;
  width: 300px;
  border-right: 1px solid gray;
  line-height: 49px;
}

#left_side_of_cart p{
  font-size: 18px;
}


#right_side_of_cart{
  float: left;
  width:100px;
}

#right_side_of_cart p{
  line-height: 22px;

}

#items_selected{
  font-size: 13.4px;
  border-bottom: 1px solid gray;
  line-height: 27px;
  font-weight: bold;
  padding-top: 4px;
}

#total_price{
  font-size: 12px;
}

#mobile_screen_home_btn{
  display: none;
}

#mobile_screen_home_btn{
  float: left;
  width: 15%;
}



#cart_div_container a{
  color: inherit;
}

#cart_div_container{
  display: none;
}



@media only screen and (max-width: 660px) {
  #cart_div_container{
    right: 10%;
  }
}



@media only screen and (max-width: 650px) {


  #cart_div_container{
    right: 0%;
    width: 100%;
    border-radius: 0px;
    background-color: #0f65d6;
  }

  #cart_div_container:hover{
    background-color: #0256c4;
  }
/*
  #cart_div_container{
    right: 0%;
    width: 100%;
    border-radius: 0px;
    background-color: #444444;
  }

  #cart_div_container:hover{
    background-color: #3e3e3e;
  }*/

  #left_side_of_cart p {
    font-size: 16px;
  }

  #left_side_of_cart i {
    font-size: 22px;
  }

  #items_selected {
    font-size: 12.4px;
  }


  #left_side_of_cart{
    width: 65%;
  }


  #right_side_of_cart{
    width:20%;
  }



  #mobile_screen_home_btn{
    text-align: center;
    box-sizing: border-box;
    display: block;
    line-height: 47px;
    font-size: 25px;
    border-right: 1px solid gray;
  }





}







@media only screen and (max-width: 500px) {
  #mobile_screen_home_btn{
    float: left;
    width: 15%;
  }
  #left_side_of_cart{
    width: 60%;
  }


  #right_side_of_cart{
    width:25%;
  }
}


@media only screen and (max-width: 400px) {
  #mobile_screen_home_btn{
    float: left;
    width: 20%;
  }
  #left_side_of_cart{
    width: 50%;
  }


  #right_side_of_cart{
    width:30%;
  }
}






/* Add Product To Cart */



.sinle_product_after_add_container{
  box-sizing: border-box;
  border: 2px solid #a7a7a7;
  width: 90%;
  margin: 0 auto;
}


.sinle_product_after_add_container button{
  box-sizing: border-box;
  border: none;
  display: block;
  float: left;
  padding: 4px;
  font-size: 14px;
  margin: 0px;
  outline: none;
  line-height: 20px;
  line-height: 27px;
}


.sinle_product_after_add_container i{
  font-size: 14px;
}

.sinle_product_after_add_container button:nth-child(2){
  width: 60%;
  border-right: 2px solid #a7a7a7;
  border-left: 2px solid #a7a7a7;
  background-color: #eaeaea;
}

.sinle_product_after_add_container button:first-child, .sinle_product_after_add_container button:last-child{
  width: 20%;
  background-color: #e2e2e2;
  background-color: #ff8989;
  cursor: pointer;
}


.sinle_product_after_add_container button:first-child:hover, .sinle_product_after_add_container button:last-child:hover{
  background-color: #d4d4d4;
  background-color: #ff5f5f;
}



.add_to_cart_btn_class{
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: 2px solid #4174a3;
  padding: 8px;
  color: #2b2b2b;
  font-size: 13.5px;
  outline: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 90%;
}

.add_to_cart_btn_class:hover{
  background-color: #4174a3;
  color: white;
}





/* view_single_product */
#view_single_product{
  text-align: center;
  width: 100%;
  margin: 0px auto;
  /*max-width: 700px;*/
  padding: 50px 0px;
  background-color: white;
}

#view_single_product div{
  float: none;
  margin: 0px auto;
  width: 90%;
  max-width: 600px;
}


#view_single_product img {
    width: 100%;
    max-width: 300px;
    height: auto;
}





 #start_shopping_afterviewProduct{
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid gray;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  background-color: #3b3b3b;
  color: #f2f2f2;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  border-radius: 6px;
}

 #start_shopping_afterviewProduct:hover{
  background-color: #262626;
  color: #fafafa;
}


#search_space_container a {
    border-bottom: 1px solid gray;
    display: block;
    padding: 15px;
    padding-left: 5%;
    text-decoration: none;
    color: gray;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 17px;
}

#search_space_container {
    display: block;
    min-height: 400px;
    text-align: left;
}

#search_space_container a:hover {
    background-color: #dedede;
    color: black;
}























/* Proceed To Cart Design */
#order_cart_container{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border: 0.8px solid #adadad;
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 0px;
  box-sizing: border-box;
  margin-bottom: 40px;
}


#my_cart_order_h2{
  padding: 9px 0px;
  color: whitesmoke;
}


.singleproduct{
  font-family: 'Roboto', sans-serif;
  border-bottom: 0.8px solid #adadad;
}

.singleproduct *{
  box-sizing: border-box;
}


.left_side_single1{
  font-family: 'Roboto', sans-serif;
  font-size: 15.5px;
  text-align: left;
  padding-left: 20%;
  float: left;
  width: 65%;
  line-height: 40px;
}

.right_side_single1{
  font-family: 'Roboto', sans-serif;
  text-align: right;
  padding-right: 50px;
  float: left;
  width: 35%;
  line-height: 40px;
  font-size: 12px;
}


.left_side_single2{
  text-align: left;
  padding-left: 25%;
  padding-bottom: 10px;
  font-size: 13px;
  float: left;
  width: 70%;
}

.left_side_single2 img{
  width: 7.6px;
}

.right_side_single2{
  float: left;
  width: 30%;
}

.right_side_single2_inside{
  padding: 0px 0px;
  width: 100%;
  max-width: 120px;
  margin: 0px auto;
  border: 1px solid #adadad;
}

.right_side_single2_inside button{
  display: block;
  float: left;
  outline: none;
}


.left_button_single_cart{
  padding: 4px;
  width: 25%;
  cursor: pointer;
  border: none;
  border-right: 1px solid #adadad;
  background-color: #ff8989;
}

.middle_button_single_cart{
  padding: 4px;
  width: 50%;
  border: none;
}

.right_button_single_cart{
  padding: 4px;
  width: 25%;
  cursor: pointer;
  border: none;
  border-left: 1px solid #adadad;
  background-color: #ff8989;
}

.left_button_single_cart:hover, .right_button_single_cart:hover{
  background-color: #ff5f5f;
}






#my_cart_order_submit_form_h2{
  padding: 9px 0px;
  color: whitesmoke;
  /*margin-top: 40px;*/
}

#my_cart_order_submit_form_h2, #my_cart_order_h2{
  font-family: 'Roboto', sans-serif;
  background-color: #de4646;
  font-size: 16.8px;
  background-color: #3c72a3;
}




#form_of_cart{
  margin-top: 10px;
  padding: 20px;
}

#form_of_cart label{
  font-size: 15.5px;
  text-align: left;
  display: block;
  padding-left: 5px;
}

#form_of_cart input{
  box-sizing: border-box;
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 4px;
  font-size: 13.6px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#form_of_cart input:focus{
  border-bottom: 2px solid red;
}


#confirm_cart_order {

  width: 90%;
  background-color: #3c72a3;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#confirm_cart_order:hover {
  background-color: #1c80d9;
}

#coupon_withdrawl_container{
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 10%;
  margin: 10px 0px;
}



#coupon_input_system_div{
  display: inline-table;
}

#coupon_input_system{
  max-width: 160px;
  font-size: 15px;
  border: 2px solid #3c72a3;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  padding: 4px;
  outline: none;
}

/*
#coupon_input_system:focus{
  border-color: #1c80d9;
}*/


#apply_coupon_btn{
  outline: none;
  background-color: #3c72a3;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  border-left: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 6px 12px
}

#apply_coupon_btn:hover {
  background-color: #1c80d9;
}

#total_price_calculator{
  border-top: 0.8px solid #adadad;
  padding: 20px 0px;
  box-sizing: border-box;
  padding-right: 10%;
  width: 100%;
  text-align: right;
}

.total_price_inside{
  display: inline-table;
}



@media only screen and (max-width: 720px) {
  /*.left_side_single2{

  }*/


  .right_side_single1{
    padding-right: 45px;
  }
}


@media only screen and (max-width: 630px) {
  .right_side_single1{
    padding-right: 38px;
  }
}

@media only screen and (max-width: 550px) {
  .right_side_single1{
    padding-right: 50px;
  }

  .left_side_single1 {
      padding-left: 10%;
  }

  .left_side_single2 {
    padding-left: 20%;
    width: 65%;
  }
}



@media only screen and (max-width: 480px) {
    .right_side_single1{
      padding-right: 40px;
    }

    .left_side_single1 {
        padding-left: 10%;
    }

    .left_side_single2 {
      padding-left: 20%;
      width: 65%;
    }
}




@media only screen and (max-width: 440px) {
    .right_side_single1{
      padding-right: 35px;
    }

    .left_side_single1 {
      font-size: 14.8px;
      padding-left: 7%;
    }

    .left_side_single2 {
      padding-left: 17%;
      width: 65%;
    }


}




/* Empty Cart */
#empty_cart_container{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

#empty_cart_container img{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

#empty_cart_container h2{
  padding: 20px 0px;
  border-bottom: 1px solid gray;
}



#empty_cart_container button{
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid gray;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  background-color: #3b3b3b;
  color: #f2f2f2;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  border-radius: 6px;
  margin-left: 4px;
  margin-right: 4px;
}

#empty_cart_container button:hover{
  background-color: #262626;
  color: #fafafa;
}



#left_of_another_shop{
}







/* FAQ Design */
#privacy_pocily_container h3{
  box-sizing: border-box;
  display: inline-table;
  text-align: justify;
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 0px;
  padding-top: 20px;
  color: #262626;
}

#faq_section_contianer p{
  padding: 0px;
  color: #3b3b3b;
}



/* Icon Of Font Awesome */
#category_selector .fa{
  font-size: 30px;
  margin-top: 10px;
}







/* Design For Banner */
#images_of_delivery_and_promocode{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 0.8px solid #adadad;
}

#images_of_delivery_and_promocode div{
  box-sizing: border-box;
  padding: 0 10px;
  width: 50%;
  float: left;
}

#images_of_delivery_and_promocode img{
  width: 100%;
}

#delivery_banner_bosheboshe_div{

}

#promo_banner_bosheboshe-div{
}




@media only screen and (max-width: 1000px) {
  #images_of_delivery_and_promocode div{
    width: 100%;
  }


  #promo_banner_bosheboshe-div{
    margin-top: 10px;
  }
}










/* Food Suggestion Box */

#food_suggestion_container{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

#inside_food_suggestion{
    box-sizing: border-box;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    border: 0.8px solid #adadad;
    border-radius: 5px;
}


#inside_food_suggestion form{
  font-family: 'Roboto', sans-serif;
  padding: 30px 0;
}


#inside_food_suggestion label{
  color: #3b3b3b;
  font-size: 15px;
  float: left;
}

#inside_food_suggestion input{
  box-sizing: border-box;
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#inside_food_suggestion input:focus{
  border-bottom: 2px solid red;
}


#inside_food_suggestion input[type=submit]{
  width: 100%;
  background-color: #3c72a3;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

#inside_food_suggestion input[type=submit]:hover{
  background-color: #1c80d9;
}





















/* How To Order Design */
#how_to_order_container{
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  color: #363636;
}


#how_to_order_heading{
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 0.8px solid #575757;
}

#how_to_order_container p{
  font-size: 17px;
  box-sizing: border-box;;
  padding: 10px 0 5px 0px;
  color: black;
}

#how_to_order_container span{
   color: #b22222;
}

.beforeimageofhowtot{
  width:100%;
  padding: 10px 20px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.afterimageofhowtot{
  width: 80%;
  padding: 10px 20px;
  padding-bottom: 25px;
  box-sizing: border-box;
}





/* SSL Commerz Intigration */
#mobile_ssl{
  display: none;
}


@media only screen and (max-width: 450px) {
  #mobile_ssl{
    display: inline;
  }

  #desktop_ssl{
    display: none;
  }

}










/* Error Page Design */

#error_page{
  text-align: center;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}

#error_page img{
  max-width: 380px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}


#error_page a{
  background-color: #3d3d3d;
  color: white;
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  display: inline-block;
  padding: 8px 30px;
}













/* Suggest Us Products */
#suggest_products_container{
  padding: 10px;
}
